SERVER_NAME=Serveur des potes
WORLD_NAME=MonMonde
# 5 caracteres minimum, ne doit pas etre contenu dans SERVER_NAME
SERVER_PASS=changezmoi
SERVER_PUBLIC=false
# Decommentez pour activer le crossplay / code d'invitation (pas de port a ouvrir)
#SERVER_ARGS=-crossplay
TZ=Europe/Paris
